{% macro render_table(rows, headers, key_map) %}
<div class="table-responsive text-nowrap">
<table id="datatable" class="table table-hover table-bordered">
    <thead class="thead-dark">
    <tr>
    {% for header in headers %}
        <th>{{ key_map[header]}}</th>
    {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        <tr data-id="{{ row.personel_id}}">
            {% for head in headers %}
                <td>{{ row| attr(head) }}</td>
            {% endfor %}
        </tr>    
    {% endfor %}
    </tbody>
</table>
</div>
{% endmacro %}